.plus-container {
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	color: #794bff;
	background: #eae8fe;
	border: 1px solid #835bf9;
	box-sizing: border-box;
	border-radius: 8px;
	height: 45px;
	width: 46px;
	border-radius: 8px;
	margin-right: 18px;
	cursor: pointer;
}
