.material-trust-container {
	width: 104px;
	height: 104px;
	display: flex;
	align-items: flex-start;
	margin-right: 18px;
	position: relative;
	margin-top: -30px;

	.material-trust-percent {
		position: absolute;
		background-color: #6a3eea;
		border-radius: 50%;
		color: white;
		width: 28px;
		height: 28px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		left: 43.7px;
		top: -9px;
	}

	.material-trustbar-profile-img {
		border-radius: 50%;
		object-fit: cover;
		height: 79px;
		position: absolute;
		top: 8px;
		left: 17.2px;
	}
}
