.trust-container {
	width: 120px;
	height: 120px;
	overflow: hidden;
	margin-top: -40px;
	.trustbar-profile-img {
		border-radius: 50%;
		margin-top: -103px;
		object-fit: cover;
		height: 79px;
		margin-bottom: 38.5px;
		margin-left: 14.5px;
	}
	text {
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
	}
	.trust-circle {
		transition: 0.35s stroke-dashoffset;
		transform: rotate(-90deg);
		transform-origin: 50% 50%;
	}
	.trust-circle-border {
		transition: 0.35s stroke-dashoffset;
		transform: rotate(-90deg);
		transform-origin: 50% 50%;
		background: white;
	}
}
